* {
    box-sizing: border-box;
}

.jumbotron {
    background-color: #104162;
    color: white;
}

.jumbotron h1 {
    padding: 10px 0;
    text-shadow: 1px 1px #000;
    border-bottom: 5px solid skyblue;
    margin-top: 50px;
}

.card-info {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid skyblue;
    border-radius: 10px;
}

.titulo-curso {
    color: #17a2b8;
    border-bottom: 5px solid #17a2b8;
    padding: 5px;
}

.card-curso {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.card-curso img {
    height: 200px;
}

.btn-info {
    margin: 0 auto;
    margin-bottom: 5px;
}

.btn-outline-success {
    margin: 0 auto;
    margin-bottom: 5px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #333;
    color: white;
    margin-bottom: 8px;
    margin-top: 10px;
}

footer a {
    display: block;
    color: white;
}

footer .row div {
    padding: 10px;
}

.footer-address-icon {
    margin-right: 8px;
}

address p {
    margin-bottom: auto;
}

table span {
    color: #104162;
}

.banner {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.banner-div-text {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #fff;
    background-color: rgba(33, 33, 33, 0.6);
    padding: 15px;
}

.bg-btn {
    background: #104162;
}

.carousel {
    height: 300px;
}

.carousel img {
    height: 300px;
}

@media (min-width: 576px) {
    .card-curso {
        flex: 1 47%;
        margin: 5px;
    }
}

@media (min-width: 768px) {
    .card-curso {
        flex: 1 30%;
        margin: 10px;
    }

    .col-address {
        margin: 5px 0;
        text-align: center;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    .banner img {
        margin-top: -50px;
        margin-bottom: -100px;
    }

    .banner-text {
        font-size: 30px;
    }

}

@media (min-width: 1020px) {
    .card-curso {
        flex: 1 23%;
        margin: 5px;
    }

    .carousel,
    .carousel img {
        height: 500px;
    }
}
